<?xml version="1.0" encoding="utf-8"?>
<!-- IIS / ANCM: allow long-running POST /Books/AIGenerateBook (chapter generation). Default ANCM wait is short. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\EBookDashboard.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess"
                  requestTimeout="02:00:00" />
    </system.webServer>
  </location>
</configuration>
